.containerPai {
    background-color: #F4F4F4;
    width: 85vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerFilho {
    background-color: #F4F4F4;
    width: 85vw;
    height: 100%;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titulo_subtitulo {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo {
    font-size: 2rem;
}

.subtitulo {
    font-size: 0.9rem;
}

.botoes {
    width: 220px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn_notificacao {
    background-color: #298181;
    color: white;
    width: 50px;
    height: 35px;
    border-radius: 10px;
    font-size: 1.6rem;
    outline: none;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_nova_consulta {
    background-color: #298181;
    color: white;
    width: 155px;
    height: 35px;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    border: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn_notificacao:active {
    transform: scale(90%);
}

.btn_nova_consulta:active {
    transform: scale(95%);
}